[KSplash Theme: Archpaint2]
Name = Archpaint2 Splash Screen
Description = Splash Screen using Archpaint2 wallpapers
Version = 1.0
Author = Martin guidobelix <guidobelix(at)hotmail.it>
Homepage = https://archlinux.org
